
#carouselBlk,#header{background: url(../images/headerRepeat.png) repeat-x 0 0 #f7f7f7;}

/* Carousel  */
#myCarousel{text-align:center; margin-bottom:0}
#myCarousel .btn{position:absolute; bottom:10%; right:17%; padding:2% 6%; z-index:9999}
#myCarousel .carousel-caption{display:none;}
#myCarousel.homCar .item img{width:100%; max-height:506px}

#myCarousel .carousel-control{display:none}
#myCarousel:hover .carousel-control{display:block}

.nav-pills>li a.dropdown-toggle span
{
	font-size:11px;
	
	    vertical-align: middle;
    
    display: table-cell;
    /* -webkit-box-flex: 1; */
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
   
    line-height: normal;
    
	
}
