.hoverBorder:hover img{ border:1px solid white ; }

 .shop ul li  {
        	transition: background 1s;
 }

 .shop ul li span.product-thumb-info:hover{
        	border: 1px solid blue;
        	color: #FFFFFF;
        	text-decoration: none;
			
 }


 .shop ul li span.product-thumb-info .product-thumb-info-content span{
 	color:black;
 }
 
 
#header nav ul.nav-main a span{
	height:30px;
	color:white;
}

#header nav.mega-menu .mega-menu-content{
	width:90%;
}



 
 	 
        
